
<!DOCTYPE html>
<html>
  <head>
	   <title>Sc2 Guess, a tool to find the player behind barcodes</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{url_for('static', filename='uplodbtn.css')}}" rel="stylesheet"" rel="stylesheet">		
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="{{url_for('static', filename='upload.js')}}"	></script>	

  </head>
  <body>
	   <script>
		   $(function () { $('#test2').change(function() 
				{ 
					$('#modal-body').html(  '   <p><center><img src="{{url_for('static', filename='load.gif')}}"></center></p> '); 
					$('#myModal').modal({
					show: 'true'
						}); 
				 // get the current value of the input field.
				console.log($(this).val())
				//upload using ajax jquery and formdata
				 var $form=$('#my_form')
			     var formdata = (window.FormData) ? new FormData($form[0]) : null;
			     var data = (formdata !== null) ? formdata : $form.serialize();
				 $.ajax(
			        {
			            url: $form.attr('action'),
			            type: $form.attr('method'),
			            contentType: false, // obligatoire pour de l'upload
			            processData: false, // obligatoire pour de l'upload
			            dataType: 'text', // selon le retour attendu
			            data: data,
			            success: function (response) 
			            {
							
							console.log(response)
							if( response=="extension error")
							{
								$('#test2').val("");
								$('#modal-body').html("error with the file extension"); 
							
								
								
							}else{
								if(response=="error"){
									$('#test2').val("");
								$('#modal-body').html("error with the replay, maybe it's not a 1v1"); 
								}
							else{
							
								document.getElementById("file-uploaded").value=response;
								document.getElementById("hiddenform").submit();
							}
						}
			            }
			        });
				//
				
				});
				
			});
	   $(function () { $('#test3').change(function() 
				{ 
					$('#modal-body').html(  '   <p><center><img src="{{url_for('static', filename='load.gif')}}"></center></p> '); 
					$('#myModal').modal({
					show: 'true'
						}); 
				 // get the current value of the input field.
				console.log($(this).val())
				//upload using ajax jquery and formdata
				 var $form=$('#my_form3')
			     var formdata = (window.FormData) ? new FormData($form[0]) : null;
			     var data = (formdata !== null) ? formdata : $form.serialize();
				 $.ajax(
			        {
			            url: $form.attr('action'),
			            type: $form.attr('method'),
			            contentType: false, // obligatoire pour de l'upload
			            processData: false, // obligatoire pour de l'upload
			            dataType: 'text', // selon le retour attendu
			            data: data,
			            success: function (response) 
			            {
							console.log(response)
							if( response=="extension error")
							{	$('#test3').val("");
								$('#modal-body').html("error with the file extension"); 
							
								}
							else{
								if(response=="error"){
									$('#test3').val("");
								$('#modal-body').html("error with replay, maybe not a  1v1"); 

								}
								else{
								document.getElementById("file-uploaded").value=response;
								document.getElementById("hiddenform").submit();
							}
						}
			                
			            }
			        });
				//
				
				});
				
			});
	   </script>
	<div class="container">
				
				  <!-- Modal -->
			  <div class="modal fade" id="myModal" role="dialog">
							    <div class="modal-dialog">
							    
									      <!-- Modal content-->
									      <div class="modal-content">
											        <div class="modal-header">
												          <button type="button" class="close" data-dismiss="modal">&times;</button>
												          <h4 class="modal-title">File Uploading</h4>
												        </div>
												        <div class="modal-body" id="modal-body">
												          <p><center><img src="{{url_for('static', filename='load.gif')}}"></center></p>
												        </div>
												        <div class="modal-footer">
												          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
												        </div>
									      </div>
									      
							 </div>
			  </div>
	
	<div class="row">	
		<div class="col-lg-8">					
				<nav class="navbar navbar-default">
				  <div class="container-fluid">
				    <div class="navbar-header">
				      <a class="navbar-brand" href="/">Sc2Guess</a>
				    </div>
				    <ul class="nav navbar-nav">
				      <li class="active"><a href="/">Home</a></li>
				      <li><a href="/liste_of_player">Players</a></li>
				
				    </ul>
				    <ul class="nav navbar-nav navbar-right btn-file">
				      <li><a href="#"><span class="glyphicon glyphicon-cloud"></span> Upload
				      <form id="my_form3" method="post" action="/upload" enctype="multipart/form-data" >
						  <input type="file" name="sc2replay" id="test3">
				      </form>
				      </a></li>
				      
				    </ul>
				  </div>
				  
				</nav>
		</div>		
	</div>			
			
			{% block content %}{% endblock %}	
		

	
				    
	</div><!-- end container-->
   <div class="footer">
	  
		   <center>
			Powered by <a style="display: inline-block" href="https://github.com/graylinkim/sc2reader">sc2reader | </a>
				<a href="/contacts">Contact</a> 
			</center>
   
	</div>
   
   

    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

  </body>
  
  <div class="hidden">
  	<!--   hidden form to submit from js to the guessresult page      -->
	<form id="hiddenform" method="post" action="/analyse_replay">
    <input id="file-uploaded" type="hidden" name="file-uploaded" > 
	</form>
  </div>
 	
  
</html>
