{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="col-lg-8">
		<h3> What is SC2guess ?</h3>
		<p> Sc2guess is a project which aims at finding the players in a starcraft 2 replay. It uses databases of replays such as 
		the WCS where the names in the replay are usually correct.
		</p>
		<h3> How does it works ?</h3>
		<p> It assumes that a player (at least a good player), have regular patterns in keyboard use. In particular it looks at the hotkeys
		a player uses and compares it to the one in the database </p>
		
	</div>
</div>
	

<div class="row">
	
	<div class="col-lg-8">
		<div class="boxes">
			<div class="centertext"><h2>Upload a replay and try it now</h2></div>
			<form id="my_form" method="post" action="/upload" enctype="multipart/form-data">
			<center><span class="btn btn-primary btn-lg btn-file">
			    Upload <input type="file" name="sc2replay" id="test2">
			</span></center>
			
			</form>
			
		</div>
	</div>
</div>

<p></p>
<p></p>	

<div class="row">	
	 <div class="col-lg-8">
		<p> Get the <a href="liste_of_player" action= "/liste_of_player"> list</a> of player in the database</p>
	</div>	
</div>


  {% endblock content%}  

