{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="col-lg-6">
	<table class="table ">

  <tbody>
    <tr>
      <th scope="row">Player 1</th>
      <td><a href="/player/{{p1}}">{{p1}}</a>({{race1}}) with name in the replay {{name_in_replay1}}</td>
    </tr>
    <tr>
      <th scope="row">Player 2</th>
      <td><a href="/player/{{p2}}">{{p2}}</a>({{race2}}) with name in the replay {{name_in_replay2}}</td>
    </tr>
    <tr>
      <th scope="row">Map</th>
      <td>{{map}}</td>
    </tr>
    <tr>
      <th scope="row">Date Played</th>
      <td>{{date}}</td>
    </tr>
    <tr>
      <th scope="row">Event</th>
      <td><a href="{{eventurl}}">{{event}}</a></td>
    </tr>
    <tr>
      <th scope="row">file in database</th>
      <td>{{path}}</td>
    </tr>
  </tbody>
</table>
</div>
 {% endblock content%}  
