{% extends "base.html" %}
{% block content %}
<div class="row">	
		<div class="col-lg-8">	
			<p>Liste of replay for {{name}}</p>
			<table class="table table-striped">
				<thead>
				      <tr>
				        <th>N°</th>
				        <th>Who vs Who</th>
				        <th>Date Played</th>
				        <th>Event</th>
				      </tr>
				</thead>
				<tbody>
					{% for n in number %}
			      <tr>
					  <td>{{n}}</td>
			        <td><a href="../replays/{{name}}/all/{{n}}">{{player1[n]}} ({{race1[n]}}) VS {{player2[n]}} ({{race2[n]}}) </a></td>
			        <td>{{date[n]}}</td>
			        <td><a href="{{eventurl[n]}}">{{event[n]}}</a></td>
			      </tr>
			    </tbody>
				{% endfor %}
			</table>
		</div>
		
	</div>
<br><br>
	<div class="row top-buffer">		
			<div class="col-lg-8">	
				<h3>Autocorelation chart</h3>
			<p>The autocorelation chart of {{name}} in those replays, the cooler the color, the closer the replay</hp>
				<img src="{{url_for('static', filename=img_corel)}}" alt="Smiley face" >
			</div>
		
	</div>		

  {% endblock content%}  
