<!DOCTYPE html>
<html>
  <head>
    <title>Flask Template Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

 
  </head>
  <body>
	   <div class="row marketing">
    <div class="container">
      
    
    <div class="info_replay"><h2>{{nameinreplay1}}({{race1}}) vs {{nameinreplay2}}({{race1}}) </h2></div>
    <div class"guess"><p>For {{nameinreplay1}} the guess number one is <b>{{guess10}}</b> with value {{value10}}</p>
    
    </div>
   
    <div class"guess"><p>For {{nameinreplay2}} the guess number one is <b>{{guess20}}</b> with value {{value20}}</p>
    
    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    </div>
    </div>
  </body>
</html>
