{% extends "base.html" %}
{% block content %}
<style>

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

</style>


<script src="//d3js.org/d3.v3.min.js"></script>
<script>
	
$(function () {	$('#slider').bind("input",function() {
		$( "#matrice" ).empty();
			 creategraphe(data2,this.value/50);
		
		  document.getElementById("threshold").innerHTML="Threshold value : "+(2-this.value/50);
		});
});
</script>

<div class="row">
	<div class="col-lg-2"></div>
	<div class="col-lg-8">
		<div id="matrice" >
		</div>
	</div>
	<div class="col-lg-2">
			
		<aside style="margin-top:30px;">
		<p>Order: <select id="order">
		  <option value="name">by Name</option>
		  <option value="count">by Frequency</option>
		  <option value="group">by Cluster</option>
		</select>
		<input type="range"  min="0" max="100" value="0" id="slider"/>
		 <div id="threshold"></div>
		</aside>
	</div>
</div>
<script>



var width = 960,
    height = 500;

var color = d3.scale.category20();



var data2
d3.json("/matrix/{{player}}/{{t}}",function(d){
	data2= d
	 creategraphe(data2,0)
	});

function creategraphe( graph,t) {
	var force = d3.layout.force()
    .charge(-120)
    .linkDistance(30)
    .size([width, height]);

var svg = d3.select("#matrice").append("svg")
    .attr("width", width)
    .attr("height", height);
	

	links2=[]
	for (var key in graph.links){
		if (graph.links[key].value>=t)
		{
			links2.push(graph.links[key])
		}
	}
  force
      .nodes(graph.nodes)
      .links(links2)
      .start();

  var link = svg.selectAll(".link")
      .data(links2)
    .enter().append("line")
      .attr("class", "link")
      .style("stroke-width", function(d) { return (d.value); });

  var node = svg.selectAll(".node")
      .data(graph.nodes)
    .enter().append("circle")
      .attr("class", "node")
      .attr("r", 5)
      .style("fill", function(d) { return color(d.group); })
      .call(force.drag);

  node.append("title")
      .text(function(d) { return d.name; });

  force.on("tick", function() {
    link.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node.attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; });
  });
};



</script>		
				
  {% endblock content%} 
			
		
