{% extends "base.html" %}
{% block content %}
<style>



text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

form {
  position: absolute;
  right: 10px;
  top: 10px;
}

.bar {
	font: 10px sans-serif;
  fill: steelblue;
}

</style>

<div class="row">
	
	<div class="col-lg-8">
		Comparaison of {{name}}'s replay against the one uploaded 
		<div class="barchart"></div>
	</div>

</div>

<form>
  <label><input type="radio" name="mode" value="grouped"> Grouped</label>
  <label><input type="radio" name="mode" value="stacked" checked> Stacked</label>
</form>
</div>
</body>


<script src="http://d3js.org/d3.v3.min.js"></script>
<script>

var n = 3, // number of layers
    m = {{n}}, // number of samples per layer
    stack = d3.layout.stack(),
    layers = stack(d3.range(n).map(function(j) { return bumpLayer(j,m, .1); })),
    yGroupMax = d3.max(layers, function(layer) { return d3.max(layer, function(d) { return d.y; }); }),
    yStackMax = d3.max(layers, function(layer) { return d3.max(layer, function(d) { return d.y0 + d.y; }); });
	
var margin = {top: 40, right: 10, bottom: 20, left: 20},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var x = d3.scale.ordinal()
    .domain(d3.range(m))
    .rangeRoundBands([0, width], .08);
var maxyvalue=3;
var y = d3.scale.linear()
    .domain([0, maxyvalue])
    .range([height, 0]);


var color2 = d3.scale.linear()
    .domain([0, n - 1])
    .range(["#3182bd", "#c6dbef"]);
   

var xAxis = d3.svg.axis()
    .scale(x)
    .tickSize(0)
    .tickPadding(6)
    .orient("bottom");
    
var yAxis = d3.svg.axis()
	.scale(y)
    .orient("left");
    
var svg = d3.select(".barchart").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var layer = svg.selectAll(".layer")
    .data(layers)
  .enter().append("g")
    .attr("class", "layer")
    .style("fill", function(d, i) {   return color[i]; });


var rect = layer.selectAll("rect")
    .data(function(d) {console.log(d[0]); return d; })
  .enter().append("rect")
    .attr("x", function(d) { return x(d.x); })
    .attr("y", height)
    .attr("width", x.rangeBand())
    .attr("height", 0)
    .style("fill",function(d,i,j){if(i=={{match}}){return color2(j)}return color[j]})
    .style("opacity",function(d,i,j){if(j==2){return 0.2;}return 1;})
    .on("mouseover", mouseover);

rect.transition()
    .delay(function(d, i) { return i * 10; })
    .attr("y", function(d) { return y(d.y0 + d.y); })
    .attr("height", function(d) { return y(d.y0) - y(d.y0 + d.y); });

var text = layer.selectAll("bar")
    .data(function(d) {return d; })
    .enter().append("text")
    .attr("class", "bar")
    .attr("text-anchor", "middle")
    .attr("x", function(d) { return x(d.x)+x.rangeBand()/2; })
    .attr("y", function(d){return y(d.y0 + d.y)-5;})
    .attr("dy", ".35em")
    .text(function(d,i,j) { if (j==1) {return Math.round(100*d.y0+d.y*100)/100; } return "";});
  
  

  function mouseover(p) {
    console.log(p);	
  }
console.log(color)
var test=[1,2,3];
/*
var bar = d3.select("svg")
	.append("g")
    .attr("transform", "translate(30, 50)" )
    .append("rect")
    .attr("width", 20)
    .attr("height", 20);
*/
var legend = svg.selectAll(".test")
    .data(color)
  .enter().append("g")
    .attr("transform", "translate(20, -20)" )
    .append("rect")
    .attr("y",function(d,i){console.log(d,i);return i*25;})
    .attr("width", 20)
    .attr("height", 20)
	.style("fill",function(d,i,j){return d;})
	.style("opacity",function(d,i){if(i==2){return 0.2;}return 1;});

var l=["Hotkeys","Gap","APM"];
var textlegend = svg.selectAll(".tex")
    .data(color)
	.enter().append("g")
    .attr("transform", "translate(20, -20)" )
    .append("text")
    .attr("y",function(d,i){console.log(d,i);return i*25+10;})
    .attr("x","25")
    .text(function(d,i) { return l[i];});
    


	
 svg.append("g")
      .attr("class", "y axis")
      .attr("transform", "translate(2,0)")
      .call(yAxis);
      
svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis);
    
   


d3.selectAll("input").on("change", change);

var timeout = setTimeout(function() {
  d3.select("input[value=\"grouped\"]").property("checked", true).each(change);
}, 2000);

function change() {
  clearTimeout(timeout);
  if (this.value === "stacked") transitionGrouped();
  else transitionStacked();
}

function transitionGrouped() {
  y.domain([0, maxyvalue]);
  rect.transition()
      .duration(500)
      .delay(function(d, i) { return i * 10; })
      .attr("x", function(d, i, j) { return x(d.x) + x.rangeBand() / n * j; })
      .attr("width", x.rangeBand() / n)
    .transition()
      .attr("y", function(d) { return y(d.y); })
      .attr("height", function(d) { return height - y(d.y); });
}

function transitionStacked() {
  y.domain([0, maxyvalue]);
	
  rect.transition()
      .duration(500)
      .delay(function(d, i) { return i * 10; })
      .attr("y", function(d) { return y(d.y0 + d.y); })
      .attr("height", function(d) { return y(d.y0) - y(d.y0 + d.y); })
    .transition()
      .attr("x", function(d) { return x(d.x); })
      .attr("width", x.rangeBand());
}

// Inspired by Lee Byron's test data generator.
function bumpLayer(j,n, o) {

var a = [], i;
if (j==0){
	
 for (i = 0; i < n; ++i) a[i]={x:i,y:8}
 {%for i in range(n)%}
	a[{{i}}]={x:{{i}},y:{{data1[i]}}};
{%endfor%}
 return a}
 
if (j==1){
 for (i = 0; i < n; ++i) a[i]={x:i,y:2}
  {%for i in range(n)%}
	a[{{i}}]={x:{{i}},y:{{data2[i]}}};
{%endfor%}
 return a}
 
if (j==2){
 for (i = 0; i < n; ++i) a[i]={x:i,y:1}
  {%for i in range(n)%}
	a[{{i}}]={x:{{i}},y:{{1*data3[i]}}};
{%endfor%}
 return a}
for (i = 0; i < n; ++i) a[i]={x:i,y:6}
 return a

 
 }



</script>

  {% endblock content%}  
